@use "mixins" as *;
.guide-page {
	color: white;
	@include pageReset;
	h1 {
		margin-top: 10px;
	}
	.guide-box {
		@include boxStyling;
		section {
			b {
				font-size: 18px;
			}
			p {
				font-size: 19px;
				margin-top: 10px;
			}
			margin: 20px 0;
			.cancel {
				color: red;
			}
			.heart {
				color: green;
			}
			.check {
				@extend .heart;
			}
			.trending {
				color: blue;
			}
		}
	}
	@media (max-width: 500px) {
		h1 {
			font-size: 1.74rem;
		}
		.guide-box {
			padding: 13px;
			.title {
				p {
					font-size: 1.4rem;
				}
			}
			section {
				b {
					font-size: 16px;
				}
				p {
					font-size: 16px;
					margin-top: 6px;
				}
				.cancel {
					width: 15px;
				}
				.heart {
					width: 15px;
				}
				.check {
					width: 15px;
				}
				.trending {
					width: 15px;
				}
			}
		}
	}
}
