@use "mixins" as *;

.help-page {
	@include pageReset;
	h1 {
		margin-top: 10px;
	}
	.box {
		@include boxStyling;
		.item {
			p {
				font-size: 20px;
			}
			span {
				font-size: 17px;
			}
		}
		@media (max-width: 490px) {
			padding: 13px;
			.item {
				span {
					font-size: 15px;
				}
			}
		}
	}
}
